<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投资分析</title>
    <style>
        body{text-align:center;}
    </style>
</head>
<body>
<h3>热图</h3>
<img src="{{ url_for('static', filename='热图.jpg') }}">
<h3>累计收益</h3>
<img src="{{ url_for('static', filename='累计收益.jpg') }}">
<h3>组合收益</h3>
<img src="{{ url_for('static', filename='组合收益.jpg') }}">
<h3>风险最小</h3>
<img src="{{ url_for('static', filename='风险最小.jpg') }}">
<h3>夏普比率</h3>
<img src="{{ url_for('static', filename='夏普比率.jpg') }}">
</body>
</html>